@import "variables_and_functions.scss";

html{
	scroll-behavior: smooth;
}

a {
	all: unset;
	position: relative;
	border-bottom: solid rgba(0,0,0,0) 2px;

	cursor: pointer;
}

a:hover:after {
	transform: scaleX(1);
}

a:after {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: white;
	content: '';
	bottom: 5px;
	left: 0;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

body {
	background-color: $bg2;
	display: flex;
	flex-direction: column;
	margin: 0;
	color: white;

	overflow-x: hidden;

	nav {
		display: flex !important;
		flex-direction: row;
		justify-content: center;

		a {
			display: block-inline;
			padding: 10px;
			margin-left: 2px;
			margin-right: 2px;
			font-size: 20px;
			padding-bottom: 10px;

			color : white;
		}

		a:hover:after {
			transform: scaleX(1);
		}

		a:after {
			height: 3px !important;
			background-color: white !important;
		}
	}

	& {
		width: 100%;
	}

	section:not(:first-child){
		margin-top: 25px;

		h1 {
			text-align: center;
		}
	}

	#header {
		position: relative;
		
		width: 100%;
		height: 100vh;
		overflow: hidden;
		margin: none;

		.overlay {
			z-index: 2;
			background: linear-gradient(0deg, $col2 0%, RGBtoRGBA($col2, 0.6) 50%);
		}

		// :not(:first-child) {
		// 	z-index: 1;
		// 	width: 100%;
		// 	height: auto;
		// 	margin: 0;
		// }

		#starSystem {
			width: 100%;
			height: 100%;

			$ballRadius: 50px;
			$ballBorder: 3px;

			
			.star{
				position: absolute;

				border: #{$ballBorder} solid white;

				background-color: white;

				transform-origin: 50% 50%;

				//animation: twinkle infinite;
				//animation-iteration-count: ;
			}

			@keyframes twinkle {
				from {
					transform: rotate(0 deg) scale(1);
				}
				50% {
					transform: rotate(180 deg) scale(1.2);
				}
				to {
					transform: rotate(360deg) scale(1);
				}
			  }
			
			@keyframes loadIn {
				from {
					transform:scale(0);
				}

				to {
					transform:scale(1);
				}
			}
		}
		svg {
			height: 100%;
			width: 100%;
			
			position: absolute;

			top: 0;

			line {
				stroke: white;
			}
		}
	}

	$menuAnimationTime : 1s;
	@media only screen and (hover: none) and (pointer: coarse) {
		#menu {
			display: flex;
			flex-direction: column;
			justify-content: flex-end !important;
			align-self: center;

			height: 42px;

			* { 
				margin-top: 50Px;
			}

			.mobile {
				transform: translateX(100%);
				display: block !important;
			}

			img {
				transition: transform $menuAnimationTime;
				transform-origin: 50% 50%;
			}
		}

		#menu.selected {
			height: 100%;
		}
	}

	#menu {
		position: absolute;
		
		width: 100%;

		background-color: $col2;

		transform: translateY(-100%);

		transition: transform $menuAnimationTime, height $menuAnimationTime, padding-bottom $menuAnimationTime;

		z-index: 2;

		padding-top: 5px;

		overflow: hidden;

		* {
			text-align: center;
		}

		.mobile {
			display: none;
			width: 42px;
			height: 42px;
		}
	}

	#footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding-top: 25px;
		padding-bottom: 25px;

		margin-top: 25px;

		background-color: $col2;

		> a {
			border-bottom: solid rgba(0,0,0,0) 2px;
		}
		> a::after{
			height: 3px;
			background-color: white;
			bottom: -10px;
		}

		> *, > a {
			display: flex;

			justify-content: center;
			align-items: center;

			width: -moz-fit-content;
			width: fit-content;

			padding-bottom: 5px;

			margin-top: 15px;

			> img {
				width: 30px;
				height: 30px;

				margin-right: 10px;
			}
		}
	}
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.content {
	display: flex;

	width: 100%;
}

.ball {
	border-radius: 100%;
	overflow: hidden;
}

#tags {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;

	overflow: hidden;
	
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.tag {
	width: -moz-fit-content;
	width: fit-content;
	height: min-content;
	border: solid white $tagBorderWidth;

	padding: $tagPadding;

	font-size: small;
}