/* line 3, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
html {
  scroll-behavior: smooth;
}

/* line 7, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
a {
  all: unset;
  position: relative;
  border-bottom: solid rgba(0, 0, 0, 0) 2px;
  cursor: pointer;
}

/* line 15, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
a:hover:after {
  transform: scaleX(1);
}

/* line 19, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
a:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  content: '';
  bottom: 5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

/* line 32, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body {
  background-color: #00111c;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  overflow-x: hidden;
}

/* line 41, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body nav {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}

/* line 46, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body nav a {
  display: block-inline;
  padding: 10px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  padding-bottom: 10px;
  color: white;
}

/* line 57, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body nav a:hover:after {
  transform: scaleX(1);
}

/* line 61, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body nav a:after {
  height: 3px !important;
  background-color: white !important;
}

/* line 67, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body {
  width: 100%;
}

/* line 71, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body section:not(:first-child) {
  margin-top: 25px;
}

/* line 74, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body section:not(:first-child) h1 {
  text-align: center;
}

/* line 79, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: none;
}

/* line 87, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #header .overlay {
  z-index: 2;
  background: linear-gradient(0deg, #360361 0%, rgba(54, 3, 97, 0.75) 50%);
}

/* line 99, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #header #starSystem {
  width: 100%;
  height: 100%;
}

/* line 107, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #header #starSystem .star {
  position: absolute;
  border: 3px solid white;
  background-color: white;
  transform-origin: 50% 50%;
}

@keyframes twinkle {
  from {
    transform: rotate(0 deg) scale(1);
  }
  50% {
    transform: rotate(180 deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes loadIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* line 142, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #header svg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

/* line 150, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #header svg line {
  stroke: white;
}

@media only screen and (hover: none) and (pointer: coarse) {
  /* line 158, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
  body #menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end !important;
    align-self: center;
    height: 42px;
  }
  /* line 166, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
  body #menu * {
    margin-top: 50Px;
  }
  /* line 170, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
  body #menu .mobile {
    transform: translateX(100%);
    display: block !important;
  }
  /* line 175, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
  body #menu img {
    transition: transform 1s;
    transform-origin: 50% 50%;
  }
  /* line 181, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
  body #menu.selected {
    height: 100%;
  }
}

/* line 186, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #menu {
  position: absolute;
  width: 100%;
  background-color: #360361;
  transform: translateY(-100%);
  transition: transform 1s, height 1s, padding-bottom 1s;
  z-index: 2;
  padding-top: 5px;
  overflow: hidden;
}

/* line 203, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #menu * {
  text-align: center;
}

/* line 207, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #menu .mobile {
  display: none;
  width: 42px;
  height: 42px;
}

/* line 214, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
  background-color: #360361;
}

/* line 227, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #footer > a {
  border-bottom: solid rgba(0, 0, 0, 0) 2px;
}

/* line 230, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #footer > a::after {
  height: 3px;
  background-color: white;
  bottom: -10px;
}

/* line 236, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #footer > *, body #footer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  margin-top: 15px;
}

/* line 249, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
body #footer > * > img, body #footer > a > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* line 259, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 267, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
.content {
  display: flex;
  width: 100%;
}

/* line 273, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
.ball {
  border-radius: 100%;
  overflow: hidden;
}

/* line 278, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
#tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

/* line 290, ../../Users/hasin/Documents/Portfolio/Portfolio_Server_Not_Compiled/source/Portfolio_Website/src/style/styles.scss */
.tag {
  width: -moz-fit-content;
  width: fit-content;
  height: min-content;
  border: solid white 3px;
  padding: 2px;
  font-size: small;
}

/*# sourceMappingURL=styles.css.map */